/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
header {

}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #EBD6B0;
  color: #333;
  line-height: 1.6;
}
/* Navbar style */
ul {
  list-style-type: none;
  font-weight: bold;

}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 80px;
  height: 80px;
  overflow: visible;
}

.navbar {
  background: rgba(255, 255, 255, 0.5);
  height: 60px;
  width: 100vw;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 5px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #333 solid;
}
.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
/* Image Slider Style */
.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background: rgba(255, 255, 255, 0.75);
    color: #333;
    padding: 35px;
}

.slide .content h1 {
    margin-bottom: 10px;
}

.slide.current .content{ 
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

/* Buttons */

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: #fff;
    color: #333;
}
/* Images */
.slide:first-child {
    background: url('./images/NWPNMConference3.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
    background: url('./images/raisedhand.jpg') no-repeat center center/cover;
}
.slide:nth-child(3) {
    background: url('./images/readingbible.jpg') no-repeat center top/cover;
}

/* Footer */

footer {
  height: 200px;
  background: #717F9D;
  color: #fff;
}
.footer ul{
  color: #fff;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.social {
  color: #fff;
  padding: 10px;
}

/* Responsive Style */

@media(max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.current .content {
        transform: translateY(-300px);
    }
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
